.wrapper
    background: #fff
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04)
    border-radius: 20px
    max-width: 1080px
    margin: 50px auto

    .overlay
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 100%
        background: rgba(0, 0, 0, 0.5)
        z-index: 2

        .drawer
            display: flex
            flex-direction: column
            position: absolute
            width: 100%
            max-width: 420px
            height: 100%
            right: 0
            background: #fff
            box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1)
            padding: 30px

            h2
                display: flex
                justify-content: space-between
                margin: 0

                .drawer__close
                    opacity: 0.5
                    cursor: pointer

                    &:hover
                        opacity: 1
                        filter: invert(7%) sepia(88%) saturate(7493%) hue-rotate(357deg) brightness(91%) contrast(121%)

            .items
                flex: 1
                overflow: auto
                margin: 20px 0 50px
                padding-right: 10px

                .cartItem
                    display: flex
                    align-items: center
                    border: 1px solid #f3f3f3
                    border-radius: 20px
                    padding: 20px
                    margin: 30px 0 20px

                    &__image, &__wrapper
                        margin-right: 13px

                    &__image
                        margin-top: -20px
                        margin-left: -8px

                    p
                        margin-bottom: 5px
                        font-size: 16px

                    b
                        font-size: 14px

                    .removeBtn
                        opacity: 0.5
                        cursor: pointer

                        &:hover
                            opacity: 1
                            filter: invert(10%) sepia(16%) saturate(291%) hue-rotate(100deg) brightness(106%) contrast(103%)

            &__footer
                list-style-type: none

                &-item
                    display: flex
                    align-items: flex-end

                    &:last-child
                        margin-top: 20px

                    div
                        flex: 1
                        height: 1px
                        border-bottom: 1px dashed #dfdfdf
                        position: relative
                        top: -3px
                        margin: 0 7px

.ulBlock
    .green_button
        position: relative

    img
        position: absolute
        right: 50px
        top: 21px

.green_button
    width: 100%
    background: #9DD558
    border-radius: 18px
    max-width: 325px
    height: 55px
    border: none
    cursor: pointer
    display: block
    margin: 0 auto
    color: #fff
    margin-top: 25px

    &:hover
        background: lighten(#9DD558, 5%)
    &:active
        background: darken(#9DD558, 5%)

header
    display: flex
    justify-content: space-between
    border-bottom: 1px solid #f4f4f4
    padding-bottom: 40px

    .headerLeft
        display: flex
        margin: 43px 0 0 45px

        div
            h3
                text-transform: uppercase
            p
                color: #9D9D9D

        img
            margin-right: 15px
            cursor: pointer

    .headerRight
        display: flex
        justify-content: space-between
        align-items: center
        list-style-type: none
        margin: 50px 63px 0 45px
        min-width: 185px
        padding: 0

        li
            display: flex

            span
                margin-left: 10px
            img
                cursor: pointer

.content
    padding: 40px

    &__wrapper
        display: flex
        justify-content: space-between
        flex-wrap: wrap

    .card-price
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 14px

        &__bottom
            display: flex
            flex-direction: column
            p
                font-weight: 500
                font-size: 11px
                line-height: 13px
                text-transform: uppercase
                color: #BDBDBD

        button
            background: #fff
            box-sizing: border-box
            border-radius: 8px
            border: none
            cursor: pointer
            &:hover
                transform: scale(1.2, 1.2)

    .card
        border: 1px solid #f3f3f3
        padding: 20px 29px 34px 30px
        max-width: 210px
        border-radius: 40px
        margin-bottom: 40px
        transition: box-shadow .2s ease-in-out, transform .2s ease-in-out

        &:hover
            background: #FFFFFF
            border: 1px solid #F8F8F8
            box-sizing: border-box
            box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05)
            border-radius: 40px
            transform: translateY(-5px)
            cursor: pointer
        p
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 19px

        &__descr
            margin-top: 14px

        .heart
            position: absolute
            cursor: pointer
            z-index: 1

    &__search
        border: 1px solid #f3f3f3
        border-radius: 10px
        padding: 0 13px

    &__main-wrapper
        display: flex
        align-items: center
        margin-bottom: 40px
        justify-content: space-between

        input
            border: 0
            padding: 10px
            font-size: 16px

            &:focus-visible
                outline: 0
